@font-face {
    font-family: coolFont;
    src: url("fonts/SnowHut.ttf");
}

html, body{
    margin: 0;
    padding: 0;
    font-family: coolFont;
}

.game-title{
    display: flexbox;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 0.1em;
    color: #3D405B;
}

.game-tag{
    margin:0;
    padding: 0;
    padding-bottom: 0.5em;
    color: #E07A5F;
    text-align: center;
}

html, body{
    padding: 0;
    margin: 0;
    background-color: #F4F1DE;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 0.1em;
    color: #F4F1DE;
    text-decoration: None;
}

.main-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #3D405B;
    height: 30px;
}

.main-nav li{
    padding: 0 5%;
    align-items: middle;
    color: #F4F1DE;
}

.main-nav li:hover{
    padding: 0 5%;
    background-color: #212231;
}

.main-header{
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 5px;
}

.game-section{
    margin: 1em;
    padding: 0;
}
.actual-play-area{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.lets-predict-title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3D405B;
}

.won_h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #365948;
}

.won_h2{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1em;
    padding-bottom: 0;
    color: #3D405B;
}

.lost_h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #E07A5F;
}

.lost_h2{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3D405B;
}

.cloud-image{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3px;
    border: #3D405B solid 3px;
}


.user-input-section{
    max-width: 1000px;
    margin-top: 10px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.user-input-box{
    display: block;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0 auto;
    height: 40px;
    border-radius: 10%;
    font-family: coolFont;
    font-size: 1.5em;
    color: #365948;
}
.user-input-box:focus{
    border: #F4F1DE solid 3px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0.1em;
    border: none;
    border-radius: 10%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    font-family: coolFont;
    font-size: 2em;
    text-align: center;
    width: 4em;
}
.user-predict-button{
    background-color: #313349;
    color: #F4F1DE;
}
.user-predict-button:hover{
    background-color: #365948;
    color: #F4F1DE;
}

.user-next-cloud-button{
    background-color: #365948;
    color: #F4F1DE;
    width: 6em;
}
.user-next-cloud-button:hover{
    background-color: #68b08d;
    color: #8f8d7f;
}


.user-try-again-button{
    background-color: #E07A5F;
    color: #F4F1DE;
    width: 7em;
}

.user-try-again-button:hover{
    background-color: #f7b8b8;
    color: #8f8d7f;
}

.the-end-button{
    width: 9em;
}

.container{
    margin-left: 2em;
}

.details{
    color: #3D405B;
}
.details li{
    font-size: 1.2em;
}

.result-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0, auto;
    padding: 0;
}

.the-end-image{
    margin: 2em;
}